@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  color: aliceblue;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.background-img {
  /* background-image: url("../img/movie_details_bg.jpg"); */
  background-color: #04050a;
}
body.background-black {
  background-color: #04050a;
  color: #ffffff;
}

section.slider-area {
  min-height: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 100%;
  padding-top: 100px;
  background-image: url(../img/s_slider_bg.jpg);
}

.slider-item img {
  border-radius: 10px;
  max-width: 100%;
  /* max-width: 450px; */
}
.slider-item .banner-content .sub-title {
  color: #e4d804;
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
}
.slider-item .banner-content .title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin: 8px 0;
}
.slider-item .banner-content a {
  margin-top: 30px;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  border-radius: 50px;
  color: #e3dfdf;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 16px 34px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  max-width: 200px;
}
.slider-item .banner-content a i {
  transition: all 0.3s ease 0s;
  color: #e3dfdf;
}
.slider-item .banner-content a:hover {
  background-color: #e4d804;
  color: #12151e;
}
.slider-item .banner-content a:hover i {
  color: #12151e;
}

section.slider_all {
  padding: 120px 0 70px;
}

.slider_all .sub-title, .movie-area .sub-title {
  color: #e4d804;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.slider_all .title, .movie-area .title {
  font-size: 36px;
}

.slider_all .slider-nav {
  margin-right: 70px;
}
.slider_all .slider-nav a {
  border-radius: 50px;
  background: #20212b;
  font-size: 12px;
  font-weight: 600;
  color: #e3dfdf;
  border: 2px solid #2d303d;
  padding: 11px 27px;
  margin-bottom: 0;
  transition: none !important;
}

.movie-area .slider-nav a, .games-area .slider-nav a {
  border-radius: 50px;
  background: #20212b;
  font-size: 12px;
  font-weight: 600;
  color: #e3dfdf;
  border: 2px solid #2d303d;
  padding: 11px 27px;
  margin-bottom: 0;
  transition: none !important;
}

.slider_all .slider-nav a.nice, .movie-area .slider-nav a.nice, .games-area .slider-nav a.nice, .slider_all .slider-nav a:hover, .movie-area .slider-nav a:hover, .games-area .slider-nav a:hover {
  border-color: #e4d804 !important;
}

.slider_all .owl-nav {
  position: absolute;
  top: -44px;
  right: 0;
  background: #20212b;
  border: 2px solid #2d303d;
  color: #e3dfdf;
  padding: 9.5px 19px;
  border-radius: 50px;
}
.slider_all .owl-nav button.owl-prev {
  padding-right: 17px;
  margin-right: 13px;
  position: relative;
}
.slider_all .owl-stage {
  margin-top: 50px;
}
.slider_all .owl-item .poster img {
  max-width: 100%;
  border-radius: 8px;
}
.slider_all .owl-item .content .title a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.movie-area .movie-content .title a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.slider_all .owl-item .content .title a:hover, .slider_all .owl-item .content .date {
  color: #e4d804;
}

.movie-area .movie-content .title a:hover, .movie-area .movie-content .date {
  color: #e4d804;
}

.slider_all .owl-item .content .date, .movie-area .movie-content .date {
  font-size: 14px;
  font-weight: 500;
}

.slider_all .owl-item .content li, .movie-area .movie-content li {
  list-style: none;
}

.slider_all .owl-item .content li .quality, .slider_all .owl-item .content li i {
  color: #e4d804;
}

.movie-area .movie-content li i, .movie-area .movie-content li .quality {
  color: #e4d804;
}

.slider_all .owl-item .content li .quality, .movie-area .movie-content li .quality {
  border: 2px solid #ffffff;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}

.slider_all .owl-item .content li.d_and_r, .movie-area .movie-content li.d_and_r {
  color: #bcbcbc;
  font-size: 12px;
  font-weight: 500;
}

section.breadcrumb-area {
  padding: 200px 0 240px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/breadcrumb_bg.jpg);
}

.breadcrumb-area .title {
  font-size: 60px;
  line-height: 1.3;
}
.breadcrumb-area .title span {
  color: #e4d804;
}
.breadcrumb-area li {
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.breadcrumb-area li a {
  color: #e4d804;
  text-decoration: none;
}
.breadcrumb-area li svg {
  color: #ffffff;
  transform: rotate(-32deg);
  width: 17px;
}

.movie-area .movie-poster {
  position: relative;
}
.movie-area .movie-poster ul {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transtion {
  transition: 0.3s linear;
}

.movie-area .movie-poster li {
  list-style: none;
}
.movie-area .movie-poster .rating {
  font-size: 16px;
  font-weight: 600s;
  color: #e4d804;
}
.movie-area .movie-poster .rating i {
  font-size: 12px;
  color: #e4d804;
}
.movie-area .movie-poster li a {
  margin-top: 7px;
  border-radius: 50px;
  min-width: 140px;
  padding: 10px 34px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
}
.movie-area .movie-poster li a.btn-1 {
  background: #e4d804;
  color: #151517;
}
.movie-area .movie-poster li a.btn-2 {
  background-color: #151517;
  color: #ffffff;
  border: #e4d804 2px solid;
  transition: 0.3s ease;
}
.movie-area .movie-poster li a.btn-2:hover {
  background: #e4d804;
  color: #151517;
}
.movie-area .movie-poster .non {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #04050a;
}

.non-00 {
  opacity: 0;
  transition: 0.2s linear;
}

.non-11 {
  opacity: 0.7;
  transition: 0.2s linear;
}

.pagination-wrap li {
  list-style: none;
  color: #ffffff;
  display: block;
  font-size: 14px;
  color: #c2c2c2;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid #c2c2c2;
  transition: 0.3s ease;
}
.pagination-wrap li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s ease;
}
.pagination-wrap li.active, .pagination-wrap li:hover {
  background-color: #e4d804;
  border-color: #e4d804;
}
.pagination-wrap li.active a, .pagination-wrap li:hover a {
  color: #151517;
}

* {
  box-sizing: border-box;
}

.movie-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
  /* background-color: #c394f8; */
  height: 700px;
  margin-bottom: 50px;
}
.movie-slider input[type=radio] {
  display: none;
}
.movie-slider .card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0) !important;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.movie-slider .container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.movie-slider .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.movie-slider img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-slider #item-1:checked ~ .cards #song-3, .movie-slider #item-2:checked ~ .cards #song-1, .movie-slider #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
.movie-slider #item-1:checked ~ .cards #song-2, .movie-slider #item-2:checked ~ .cards #song-3, .movie-slider #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
.movie-slider #item-1:checked ~ .cards #song-1, .movie-slider #item-2:checked ~ .cards #song-2, .movie-slider #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.movie-slider #item-1:checked ~ .cards #song-1 img, .movie-slider #item-2:checked ~ .cards #song-2 img, .movie-slider #item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
.movie-slider .player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}
.movie-slider .upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}
.movie-slider .play-icon {
  margin-right: 10px;
}
.movie-slider .song-info {
  width: calc(100% - 32px);
  display: block;
}
.movie-slider .song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}
.movie-slider .sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movie-slider .subtitle {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}
.movie-slider .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}
.movie-slider .progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}
.movie-slider .progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}
.movie-slider .info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.4s ease-in;
}
.movie-slider #item-2:checked ~ .player #test {
  transform: translateY(0);
  transform: translateY(-40px);
}
.movie-slider #item-3:checked ~ .player #test {
  transform: translateY(-80px);
}

.game-slider {
  width: 100%;
}
.game-slider .content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 735px;
}
.game-slider .img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-basis: 400px;
  margin: 5px;
  transition: 0.5s ease;
}
.game-slider img {
  display: block;
  width: 150%;
}
.game-slider .img:hover {
  max-height: 100%;
  flex-basis: 500px;
}

/* .game-slider .img-1:hover~.img-2,
 * *.game-slider .img-1:hover~.img-3,
 * *.game-slider .img-2:hover~.img-1,
 * *.game-slider .img-2:hover~.img-3,
 * *.game-slider .img-3:hover~.img-2,
 * *.game-slider .img-3:hover~.img-1 {
 * *    filter: brightness(0.3);
 * *} */
/*ddddddd
 * *dddddddd
 * *dddddddd
 * *dddddddd
 * *ddddddddd
 * *ddddddd
 * *dddddddd
 * *ddddd */
ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

.container {
  margin: 0 auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.games-poster button, .movies-poster .container .text button, .music-poster .btn button {
  background-color: #e4d804;
  color: #1e1b29;
  font-size: 18px;
  text-transform: capitalize;
  width: 180px;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px 50%;
  -webkit-border-radius: 25px 50%;
  -moz-border-radius: 25px 50%;
  -ms-border-radius: 25px 50%;
  -o-border-radius: 25px 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.games-poster button:hover, .movies-poster .container .text button:hover, .music-poster .btn button:hover {
  font-weight: bold;
  background-color: white;
  border: 3px solid #e4d804;
  scale: 1.1;
}

.games-poster button:hover i, .movies-poster .container .text button:hover i, .music-poster .btn button:hover i {
  color: #e4d804;
}

.music {
  background-image: url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.music-poster {
  color: #c3c3c3;
  padding: 50px 15px;
}
.music-poster .top {
  text-align: center;
  margin-bottom: 100px;
}
.music-poster .top h2 {
  font-size: 36px;
}
.music-poster .feutures {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.music-poster .feutures > div {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}
.music-poster .feutures > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 70%;
  height: calc(100% + 60px);
  opacity: 0;
  border: 2px solid #c3c3c3;
  border-radius: 20px;
  transition: 0.4s;
}
.music-poster .feutures > div:hover {
  scale: 0.8;
}
.music-poster .feutures > div:hover::before {
  opacity: 1;
  width: 110%;
  border-color: #e4d804;
  border-width: 4px;
}
.music-poster .feutures > div h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
.music-poster .feutures > div p {
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
}
.music-poster .btn {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .music-poster .feutures {
    gap: 70px;
  }
}
.movies-poster .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #1e1b29;
  padding: 50px 15px;
}
.movies-poster .container .text {
  flex-basis: 50%;
}
.movies-poster .container .text h2 {
  font-size: 36px;
  text-transform: capitalize;
  margin-top: 0;
}
.movies-poster .container .text ul > li {
  margin-bottom: 7px;
}
.movies-poster .container .text > h3 {
  color: #d81c2b;
  text-transform: uppercase;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  font-size: 50px;
  margin: 0;
}
.movies-poster .container img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .movies-poster .container {
    flex-direction: column;
  }
}
.games {
  background-image: url("../img/gaming.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 10px;
}

.games-poster {
  margin-top: 120px;
  color: #c3c3c3;
  text-align: center;
}
.games-poster h2 {
  font-size: 36px;
  text-transform: capitalize;
}

.games button, .movies-poster .container .text button, .music-poster .btn button {
  background-color: #e4d804;
  color: #1e1b29;
  font-size: 18px;
  text-transform: capitalize;
  width: 180px;
  height: 50px;
  margin-top: 20px;
  border-radius: 25px 50%;
  -webkit-border-radius: 25px 50%;
  -moz-border-radius: 25px 50%;
  -ms-border-radius: 25px 50%;
  -o-border-radius: 25px 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.movies-poster {
  background-color: #252631 !important;
}

.games button:hover, .movies-poster .container .text button:hover, .music-poster .btn button:hover {
  font-weight: bold;
  border: 3px solid #e4d804;
  scale: 1.1;
}

.games button:hover i, .movies-poster .container .text button:hover i, .music-poster .btn button:hover i {
  color: #e4d804;
}

footer {
  background-image: url("../img/footer_bg.jpg");
  background-size: cover;
  background-position: center;
  color: #c3c3c3;
  padding: 50px 15px;
}
footer ul {
  display: flex;
  padding: 0;
}
footer a {
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 20px;
}
footer a:hover {
  color: #e4d804;
}
footer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
footer .part-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  border-bottom: 2px solid #12151e;
  padding: 30px;
}
footer .part-1 form {
  position: relative;
}
footer .part-1 form input[type=search] {
  width: 300px;
  height: 40px;
  border-radius: 20px 50%;
  outline: none;
  border: none;
  padding: 16px;
  background-color: #12151e;
  caret-color: #e4d804;
  -webkit-border-radius: 20px 50%;
  -moz-border-radius: 20px 50%;
  -ms-border-radius: 20px 50%;
  -o-border-radius: 20px 50%;
}
footer .part-1 form input[type=search]::-webkit-input-placeholder, footer .part-1 form input[type=search]::-moz-placeholder, footer .part-1 form input[type=search]:-ms-input-placeholder, footer .part-1 form input[type=search]::-ms-input-placeholder, footer .part-1 form input[type=search]::placeholder {
  color: #343a40;
}
footer .part-1 form button {
  border-left: 2px solid;
  color: #e4d804;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
footer .part-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  border-top: 1px solid #343a40;
  padding: 30px;
}
footer .part-2 .socials li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #12151e;
}
footer + p {
  text-align: center;
  text-transform: capitalize;
  background-color: #343a40;
  color: #c3c3c3;
  margin: 0;
  padding: 30px 10px;
}
footer + p a {
  color: #e4d804;
}

@media (max-width: 992px) {
  footer .part-1 form input[type=search] {
    width: 60vw;
  }
}
@media (max-width: 992px) {
  footer .part-1 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  footer .part-2 {
    flex-direction: column;
    align-items: center;
  }
}
#musicrating {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

#musicboard {
  background-image: url(../img/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  color: rgba(228, 217, 4, 0.4039215686);
  font-size: 50px;
  animation: animate 60s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 2%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 20%;
  width: 55px;
  height: 55px;
  animation-delay: 2s;
  animation-duration: 40s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 3s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 52s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 6s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 8s;
}
.circles li:nth-child(8) {
  left: 50%;
  animation-delay: 12s;
  animation-duration: 60s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 50s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 1s;
  animation-duration: 41s;
}
.circles li:nth-child(11) {
  left: 2%;
  width: 80px;
  height: 80px;
  animation-delay: 10s;
}
.circles li:nth-child(12) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 50s;
}
.circles li:nth-child(13) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 13s;
}
.circles li:nth-child(14) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 10s;
  animation-duration: 55s;
}
.circles li:nth-child(15) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 30s;
}
.circles li:nth-child(16) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 36s;
}
.circles li:nth-child(17) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 38s;
}
.circles li:nth-child(18) {
  left: 50%;
  animation-delay: 22s;
  animation-duration: 55s;
}
.circles li:nth-child(19) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 22s;
  animation-duration: 50s;
}
.circles li:nth-child(20) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 11s;
  animation-duration: 41s;
}
.circles li:nth-child(21) {
  left: 3%;
  width: 80px;
  height: 80px;
  animation-delay: 30s;
}
.circles li:nth-child(22) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 35s;
  animation-duration: 50s;
}
.circles li:nth-child(23) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 33s;
}
.circles li:nth-child(24) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 40s;
  animation-duration: 55s;
}
.circles li:nth-child(25) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 30s;
}
.circles li:nth-child(26) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 45s;
}
.circles li:nth-child(27) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 43s;
}
.circles li:nth-child(28) {
  left: 50%;
  animation-delay: 19s;
  animation-duration: 55s;
}
.circles li:nth-child(29) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 25s;
  animation-duration: 50s;
}
.circles li:nth-child(30) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 20s;
  animation-duration: 41s;
}
.circles li:nth-child(31) {
  left: 1%;
  width: 80px;
  height: 80px;
  animation-delay: 17s;
}
.circles li:nth-child(32) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 19s;
  animation-duration: 40s;
}
.circles li:nth-child(33) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 33s;
}
.circles li:nth-child(34) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 50s;
  animation-duration: 52s;
}
.circles li:nth-child(35) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 55s;
}
.circles li:nth-child(36) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 56s;
}
.circles li:nth-child(37) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 48s;
}
.circles li:nth-child(38) {
  left: 50%;
  animation-delay: 32s;
  animation-duration: 60s;
}
.circles li:nth-child(39) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 42s;
  animation-duration: 50s;
}
.circles li:nth-child(40) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 51s;
  animation-duration: 41s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-8000px) rotate(2160deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#game-board {
  background-image: url(../img/minh-pham-AHCmAX0k_J4-unsplash.jpg);
}/*# sourceMappingURL=mainstyle.css.map */